*.exe
.vscode/
*.pdb
*.ilk
*.obj
*.enc
*.idb
*.db
*.opendb
*.log
*.tlog
*.vs
*.txt
*.png
*.mp4
*.avi
*.jpg
*.caffemodel
*.dll
*.targets
*.lib
*.p7s
*.nupkg
*.md
*.so
*.dylib
*.filters
*.user
*.onnx
*.config
